<!DOCTYPE html>
<html>
<head>
    <title>Crawlendar</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
<h1>Crawlendar</h1>

<form name="date-input-form" action="/search" method="POST">

    <h1>Rentrez un date au format mois/année</h1>

    <div class="date-group" role="group">
        <div class="fieldgroup month">
            <select id="month" name="month">
                <option disabled selected value=""></option>
                <option value="Janvier">Janvier</option>
                <option value="Février">Février</option>
                <option value="Mars">Mars</option>
                <option value="Avril">Avril</option>
                <option value="Mai">Mai</option>
                <option value="Juin">Juin</option>
                <option value="Juillet">Juillet</option>
                <option value="Août">Août</option>
                <option value="Septembre">Septembre</option>
                <option value="Octobre">Octobre</option>
                <option value="Novembre">Novembre</option>
                <option value="Décembre">Décembre</option>
            </select>
            <label for="month">Month</label>
        </div>

        <div class="fieldgroup year">
            <input type="number" id="year" name="year" min="1" max="2022" required>
            <label for="year">Year</label>
        </div>
    </div>
    <input id="confirm" type="button" value="Confirm">
    <input id="reset" type="reset" value="Reset">
</form>

<script src="/js/script.js"></script>


</body>
</html>
