<!DOCTYPE html>
<html>
<head>
    <title>Crawlendar</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
<h1>Crawlendar</h1>

<form name="date-input-form">
    <h1>Information on what date do you want??</h1>

    <div class="date-group" role="group">
        <div class="fieldgroup month">
            <select id="options" name="options">
                <option disabled selected value="0"></option>
                <option value="Janvier">Janvier</option>
                <option value="Février">Février</option>
                <option value="Mars">Mars</option>
                <option value="Avril">Avril</option>
                <option value="Mai">Mai</option>
                <option value="Juin">Juin</option>
                <option value="Juillet">Juillet</option>
                <option value="Août">Août</option>
                <option value="Septembre">Septembre</option>
                <option value="Octobre">Octobre</option>
                <option value="Novembre">Novembre</option>
                <option value="Décembre">Décembre</option>
            </select>
            <label for="options">Month</label>
        </div>

        <div class="fieldgroup year">
            <input max="2023" min="0" name="year" required type="number">
            <label for="year">Year</label>
        </div>
    </div>
    <input id="confirm" type="button" value="Confirm">
    <input id="reset" type="reset" value="Reset">
</form>

<script>// Récupérer le bouton "Confirm"
var confirmButton = document.querySelector("#confirm");

// Ajouter un gestionnaire d'événement lorsque le bouton "Confirm" est cliqué
confirmButton.addEventListener("click", function (event) {
    event.preventDefault(); // Empêcher le comportement par défaut du bouton (rechargement de la page)

    // Récupérer les valeurs des champs de formulaire
    var month = document.querySelector("#options").value;
    var year = document.querySelector("input[name='year']").value;

    // Afficher les valeurs
    var resultContainer = document.createElement("div");
    resultContainer.textContent = "Month: " + month + ", Year: " + year;
    document.body.appendChild(resultContainer);
});</script>

</body>
</html>
