<!DOCTYPE html>
<html>
<head>
    <title>Crawlendar</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
<h1 class="titre">Crawlendar</h1>

<table>
    <thead>
    <tr>
        <th>Dim</th>
        <th>Lun</th>
        <th>Mar</th>
        <th>Mer</th>
        <th>Jeu</th>
        <th>Ven</th>
        <th>Sam</th>
    </tr>
    </thead>
    <tbody>
    <!-- Code pour afficher les jours du calendrier -->
    </tbody>
</table>

<form name="date-input-form">
    <h1>Pour quel année souhaitez vous avec des informations?</h1>

    <div role="group" class="date-group">
        <div class="fieldgroup month">
            <select name="options" id="options">
                <option value="selectionnez un mois">selectionnez un mois</option>
                <option value="Janvier">Janvier</option>
                <option value="Février">Février</option>
                <option value="Mars">Mars</option>
                <option value="Avril">Avril</option>
                <option value="Mai">Mai</option>
                <option value="Juin">Juin</option>
                <option value="Juillet">Juillet</option>
                <option value="Août">Août</option>
                <option value="Septembre">Septembre</option>
                <option value="Octobre">Octobre</option>
                <option value="Novembre">Novembre</option>
                <option value="Décembre">Décembre</option>
            </select>
            <label for="options">Month</label>
        </div>

        <div class="fieldgroup year">
            <input type="number" name="year" min="0" max="2023" required>
            <label for="year">Year</label>
        </div>
    </div>
    <input type="button" value="Confirmer" id="confirm">
</form>

<div class="reponse">
    <p>blabla</p>
</div>


<script src="static/js/showDate.js"></script>

</body>
</html>
