body {
    background-color: #fdffda;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f7d365' fill-opacity='0.44'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: normal;
    color: #ffcc33;
    margin: 0 0 4vh 0;
}

.titre{
    font-size:20vh;
}

form {
    background: white;
    width: 400px;
    margin: calc(30vh - 200px) auto 0 auto;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}
select,
input {
    border: none;
    line-height: 1.2rem;
}
select {
    appearance: none;
    width: 100%;
    background: transparent;
    border-bottom: 2px solid #ffcc33;
    border-radius: 0;
    padding: .5rem 0;
    font-size: 1.3rem;
    line-height: 1.5rem;
    transition: 0.3s;
    cursor: pointer;
}
select.hasInput {
    border-bottom-color: #0bcc6c;
}
select:focus {
    outline: none;
    background: rgba(0, 0, 0, .1);
    padding-left: .4rem;
}
select.hasInput + label {
    display: block;
    width: 100%;
    top: -.9rem;
    border-bottom: 1px solid #888;
    font-size: .7rem;
    pointer-events: auto !important;
    cursor: pointer;
}
select.hasInput + label {
    border-bottom-color: transparent;
}
option {
    text-transform: uppercase;
}
.date-group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    border: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 330px;
}
.fieldgroup {
    position: relative;
    flex: 1;
}
label {
    position: absolute;
    left: 0;
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    transition: 0.3s;
    opacity: .7;
    will-change: top, font-size;
}
input {
    font-size: 1.5rem;
    padding: .6rem;
    padding-left: 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ffcc33;
    transition: 0.3s;
    width: 100%;
    border-radius: 0;
}
input:focus {
    outline: none;
}
input:valid {
    border-color: #0bcc6c;
}
input:focus + label,
input.hasInput + label {
    /* top: -.6rem;*/
    font-size: .7rem;
    cursor: pointer;
    top: -.9rem;
}
.month {
    flex: 3;
    margin-right: 25px;
}
.month:after {
    content: "\f107";
    position: absolute;
    top: .6rem;
    right: 0;
    height: 20px;
    width: 20px;
    font-family: 'FontAwesome';
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.3rem;
    opacity: .5;
    pointer-events: none;
}
.day {
    flex: .5;
    margin-right: 30px;
}
.year {
    flex: 1;
}


#confirm {
    display: block;
    width: 50%;
    border: none;
    margin: 5vh auto 0 auto;
    color: #1185cf;
    text-align: center;
    background: transparent;
    border-radius: 50px;
    padding: .8rem;
    border: 1px solid transparent;
    transition: 0.3s;
}
#confirm:focus,
#confirm:hover {
    outline: none;
    box-shadow: 0 3px 40px rgba(0, 0, 0, .2);
}
#confirm:active {
    border: 1px solid rgba(0, 0, 0, .2);
    transition: 0.3s;
    box-shadow: 0 3px 60px rgba(0, 0, 0, .3);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 5px;
    text-align: center;
}

th {
    background-color: lightgoldenrodyellow;
}


.reponse{
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
    height: 50vh;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    top: 10vh;
    position: relative;
}

p{
    position: relative;
    top: 2vh;
    left: 3vh;
    bottom: 2vh;
    right: 3vh;
}